header {
  position: fixed;
  height: 100px;
  width: calc(100% - 3px);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 150px;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--chocolate);
  font-size: 1.5em;
  border-radius: 20px;
  padding: 10px;
}

a.active {
  background-color: var(--pink);
  color: white;
}

nav ul li a:hover {
  background-color: var(--pink);
  color: white;
}